{% extends "pets/base.html" %}
{% load humanize %}
{% load pets_tags %}
{% load static %}
{% block page-title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}
{% block content %}
    <div class="feed">
            <div class="sort-filter">
                <p><i class="fa-solid fa-arrow-down-wide-short"></i> Sort & Filter</p>
            </div>
            {% for feedItem in feed %}
                <div class="feed-item">
                <div class="feed-content">
                    <h2><a href="#">{{ feedItem.title }}</a></h2>
                    <p>{{ feedItem.description}}</p>
                    <p class="last-updated">Change made {{ feedItem.dateCreated | naturalday}}</p>
                </div>
                <div class="comments">
                    <a href="#comments"><i class="fa-solid fa-comment"></i></a>
                    <p>{{ feedItem.comments.length }}</p>
                </div>
            </div>
            {% endfor %}
{#            #}
        {#            <div class="feed-item">#}
        {#                <div class="feed-content">#}
        {#                    <h2>Maggie's food has changed</h2>#}
        {#                    <p>Maggie's food has changed from <b>Purina Pro Plan</b> to <b>Royal Canine</b>. She should be fed#}
        {#                        <b>2 1/2 cups</b> per day.#}
        {#                    </p>#}
        {#                    <p class="last-updated">Change made on 02/17/2025 at 10:45</p>#}
        {#                </div>#}
        {#                <div class="comments">#}
        {#                    <a href="#comments"><i class="fa-solid fa-comment"></i></a>#}
        {#                    <p>5</p>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="feed-item">#}
        {#                <div class="feed-content">#}
        {#                    <h2>Maggie had a vet appointment on 02/17/2025</h2>#}
        {#                    <p>See pet profile for notes from vet.</p>#}
        {#                    <p class="last-updated">Change made on 02/17/2025 at 10:38</p>#}
        {#                </div>#}
        {#                <div class="comments">#}
        {#                    <a href="#comments"><i class="fa-solid fa-comment"></i></a>#}
        {#                    <p>0</p>#}
        {#                </div>#}
        {#            </div>#}
        </div>
{% endblock %}