{% extends "pets/base.html" %}
{% load humanize %}
{% load pets_tags %}
{% load static %}
{% block page-title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/home.css" %}">
{% endblock %}
{% block content %}
    <div class="feed">
            <div class="sort-filter">
                <p><i class="fa-solid fa-arrow-down-wide-short"></i> Sort & Filter</p>
            </div>
            {% for feedItem in feed %}
                <div class="feed-item">
                <div class="feed-content">
                    <h2><a href="#">{{ feedItem.title }}</a></h2>
                    <p>{{ feedItem.description}}</p>
                    <p class="last-updated">Change made {{ feedItem.dateCreated | naturalday}}</p>
                </div>
                <div class="comments">
                    <a href="#comments"><i class="fa-solid fa-comment"></i></a>
{#                    <p>{{ feedItem.comments.length }}</p>#}
                    <p>3</p>
                </div>
            </div>
            {% endfor %}
        </div>
{% endblock %}