{% extends "pets/base.html" %}
{% load humanize %}
{% load pets_tags %}
{% load static %}
{% block page-title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/home-vet.css" %}">
{% endblock %}
{% block content %}
    <div class="feed">
        <div class="sort-filter">
            <p><i class="fa-solid fa-arrow-down-wide-short"></i> Sort & Filter</p>
        </div>
        {% for feedItem in feed %}
            <div class="feed-item">
                <div class="feed-content">
                    <h2><a href="#">{{ feedItem.title }}</a></h2>
                    <p>{{ feedItem.description }}</p>
                    <p class="last-updated">Request made {{ feedItem.dateCreated |naturalday }}</p>
                </div>

                <a href="{% url "pets:pet-details" feedItem.pet.id %}" class="pet-card">
                    {% if feedItem.pet.pfp %}
                        <img class="pet-card-photo" src="{{ feedItem.pet.pfp.url }}"
                             alt="Image of {{ feedItem.pet.name }}">
                    {% else %}
                        <img class="pet-card-photo" src="{% static 'img/default-pfp.jpg' %}"
                             alt="Default pet profile image">
                    {% endif %}
                    <div class="pet-card-info">
                        <div>
                            <h2>{{ feedItem.pet.name }}</h2>
                            <p>
                                {% if pet.type == "Dog" %}
                                    <i class="fa-solid fa-dog"></i>
                                {% elif pet.type == "Cat" %}
                                    <i class="fa-solid fa-cat"></i>
                                {% elif pet.type == "Bird" %}
                                    <i class="fa-solid fa-crow"></i>
                                {% endif %}
                                {{ feedItem.pet.breed }}</p>
                            <p>{{ feedItem.pet.sex }}, {{ feedItem.pet.dob|get_age_from_dob }}</p>
                        </div>
                        <i>Last updated {{ feedItem.pet.lastUpdated|pretty_date }}</i>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
{% endblock %}