{% extends "pets/base.html" %}
{% load humanize %}
{% load pets_tags %}
{% load static %}
{% block page-title %}Home{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "pets/css/home-vet.css" %}">
{% endblock %}
{% block script %}
    <script src="{% static "users/js/home-view-popup.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="feed">
        <div class="sort-filter">
            <p><i class="fa-solid fa-arrow-down-wide-short"></i> Sort & Filter</p>
        </div>
        {% for feedItem in feed %}
            <div class="feed-item">
                <div class="feed-content">
                    <h2><a href="#">{{ feedItem.title }}</a></h2>
                    <p>{{ feedItem.description }}</p>
                    <p class="last-updated">Request made {{ feedItem.dateCreated |naturalday }}</p>
                </div>

                <a href="#" class="pet-card" data-pet-id="{{ feedItem.pet.id }}"
                   data-ajax-url="{% url "pets:pet-popup" %}">
                    {% if feedItem.pet.pfp %}
                        <img class="pet-card-photo" src="{{ feedItem.pet.pfp.url }}"
                             alt="Image of {{ feedItem.pet.name }}">
                    {% else %}
                        <img class="pet-card-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                             alt="Default pet profile image">
                    {% endif %}
                    <div class="pet-card-info">
                        <div>
                            <h2>{{ feedItem.pet.name }}</h2>
                            <p>
                                {% if feedItem.pet.type == "d" %}
                                    <i class="fa-solid fa-dog"></i>
                                {% elif feedItem.pet.type == "c" %}
                                    <i class="fa-solid fa-cat"></i>
                                {% elif feedItem.pet.type == "f" %}
                                    <i class="fa-solid fa-fish"></i>
                                {% elif feedItem.pet.type == "s" %}
                                    <span class="icon-wrapper">
                                        <object type="image/svg+xml" data="{% static 'pets/img/small.svg' %}"
                                                class="icon-svg"></object>
                                    </span>
                                {% elif feedItem.pet.type == "r" %}
                                    <i class="fa-solid fa-worm"></i>
                                {% elif feedItem.pet.type == "b" %}
                                    <i class="fa-solid fa-crow"></i>
                                {% endif %}
                                {{ feedItem.pet.breed }}</p>
                            <p>{{ feedItem.pet.get_sex_display }}, {{ feedItem.pet.dob|get_age_from_dob }}</p>
                        </div>
                        <i>Last updated {{ feedItem.pet.lastUpdated|pretty_date }}</i>
                    </div>
                </a>
            </div>
            <div class="popup-backdrop hidden" data-popup-id="{{ feedItem.pet.id }}">
                <div class="popup-container hidden" data-popup-id="{{ feedItem.pet.id }}">
                    <h2>{{ feedItem.pet.name }}'s Information</h2>
                    <div>
                        <h3>Conditions</h3>
                        <ul class="conditions"></ul>
                    </div>
                    <div>
                        <h3>Vaccines</h3>
                        <ul class="vaccines"></ul>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}