{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pet Health Manager | {% block page-title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "pets/css/global.css" %}">
    <link rel="icon" type="image/x-icon" href="{% static 'pets/img/favicon.ico' %}">
    {% block stylesheet %}{% endblock %}
    <script src="https://kit.fontawesome.com/dec04a1e75.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="{% static "pets/js/dropdown.js" %}"></script>
    <script src="{% static "pets/js/logout-modal.js" %}"></script>
    {% block script %}{% endblock %}
</head>

<body>
<div class="container">
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <header>
        <div class="logo">
            <img src="{% static "pets/img/logo.png" %}" alt="Logo">
            <h1>Pet Health Manager</h1>
        </div>

        <div class="nav-bar">
            {% block search %}{% endblock %}
            <div class="nav-buttons">
                <a href="{% url 'home' %}">Home</a>
                {% if request.user.is_authenticated %}
                    <a href="{% url 'pets:pets-list' %}">Pets</a>
                {% else %}
                    <a href="{% url 'users:login' %}">Login</a>
                {% endif %}
            </div>
            {% if request.user.is_authenticated %}
                <div class="nav-icon">
                    <button><i class="fa-solid fa-message"></i></button>
                </div>
                <div class="user-greeting">Welcome back, <a
                        href="{% url 'users:profile' request.user.username %}"><strong>{{ request.user.username }}</strong></a>!
                </div>
                <div class="nav-icon">
                    <button onclick="openModal()"><i class="fa-solid fa-right-from-bracket"></i></button>
                    <div id="logout-modal" class="modal">
                        <div class="modal-content">
                            <h3>Log out from Pet Health Manager?</h3>
                            <div class="logout-buttons">
                                <form method="POST" action="{% url 'users:logout' %}">
                                    {% csrf_token %}
                                    <button id="logout-btn">Yes, log out</button>
                                </form>
                                <button id="no-btn" onclick="closeModal()">No, stay logged in</button>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
        <div class="nav-dropdown">
            <button onclick="showDropdown()" class="dropdown-button">
                <i class="fa-solid fa-bars fa-1x"></i>
            </button>
            <div class="dropdown-content" id="dropdown">
                <div class="dropdown-link top"><a href="{% url 'home' %}">Home</a></div>
                {% if request.user.is_authenticated %}
                    <div class="dropdown-link"><a href="{% url "pets:pets-list" %}">Pets</a></div>
                    <div class="dropdown-link"><a href="{% url "users:profile" request.user.username %}">Profile</a>
                    </div>
                    <div class="dropdown-link bot">
                        <a href="{% url "users:logout" %}">Logout</a>
                    </div>
                {% else %}
                    <div class="dropdown-link bot"><a href="{% url 'users:login' %}">Login</a></div>
                {% endif %}
            </div>
        </div>
    </header>

    {% block content %}{% endblock %}

    <footer>
        <div class="footer-links">
            <a href="#about">About</a>
            <div>|</div>
            <a href="#privacy">Privacy</a>
            <div>|</div>
            <a href="#contact">Contact</a>
        </div>
        <div class="copyright">
            <p><i class="fa-solid fa-copyright"></i> 2025 Pet Health Manager. All Rights Reserved.</p>
        </div>
    </footer>
</div>
</body>

</html>