{% extends "pets/base.html" %}
{% load static %}
{% load pets_tags %}
{% block page-title %}Pets{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "pets/css/pets-list.css" %}">
{% endblock %}
{% block search %}
    <form id="search-pet-list" method="GET" action="{% url "pets:pet-search" %}">
        <input type="text" name="query" placeholder="Search for a pet...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
{% endblock %}
{% block content %}
    <div class="pet-list-container">
        <div class="pets-list-filter">
            <h2>Search Results</h2>
            <a href="{% url "pets:pets-list" %}"><i class="fa-solid fa-arrow-left"></i> Go Back</a>
        </div>
        <div class="pets-section">
            <div id="search-results-container">
                {% if results|length == 0 %}
                    <div id="search-error">
                        <p>Sorry! No results available.</p>
                        <!-- https://www.istockphoto.com/photo/intrigued-gm94740594-1876328?searchscope=image%2Cfilm -->
                        <img class="error-img" src="{% static "pets/img/search-error.png" %}"
                             alt="Image of dog looking confused.">
                    </div>
                {% else %}
                    <div id="{{ pet.name }}" class="pets-list">
                        {% for pet in results %}
                            <a href="{% url "pets:pet-details" pet.id %}" class="pet-card">
                                {% if pet.pfp %}
                                    <img class="pet-card-photo" src="{% static "pets/img/" %}{{ pet.name|img_name }}.jpg" alt="Image of {{ pet.name }}">
                                {% else %}
                                    <img class="pet-card-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                                         alt="Default pet profile image">
                                {% endif %}
                                <div class="pet-card-info">
                                    <div>
                                        <h2>{{ pet.name }}</h2>
                                        <p>
                                            {% if pet.type == "d" %}
                                                <i class="fa-solid fa-dog"></i>
                                            {% elif pet.type == "c" %}
                                                <i class="fa-solid fa-cat"></i>
                                            {% elif pet.type == "f" %}
                                                <i class="fa-solid fa-fish"></i>
                                            {% elif pet.type == "s" %}
                                                <span class="icon-wrapper">
                                                    <object type="image/svg+xml" data="{% static 'pets/img/small.svg' %}" class="icon-svg"></object>
                                                </span>
                                            {% elif pet.type == "r" %}
                                                <i class="fa-solid fa-worm"></i>
                                            {% elif pet.type == "b" %}
                                                <i class="fa-solid fa-crow"></i>
                                            {% endif %}
                                            {{ pet.breed }}</p>
                                        <p>{{ pet.get_sex_display }}, {{ pet.dob|get_age_from_dob }}</p>
                                    </div>
                                    <i>Last updated {{ pet.last_updated | pretty_date}}</i>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}