/* containers */
.home {
    display: flex;
    flex-direction: column;
    gap: 2em;
    margin: 0 12em 3em;
}

.feed {
    max-width: 70em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    gap: 1em;
}

.feed-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1em 2em;
    background-color: var(--pale-green);
    border-radius: 2em;
    border: .2em solid var(--brunswick-green);
    gap: 2em;
    width: 100%;
}

.feed-content {
    display: flex;
    flex-direction: column;
    gap: .5em;
    overflow:auto;
}

.title {
    font-size: 1.25em;
}

.title a,
.title a:visited {
    color: black;
    text-decoration: none;
    font-weight: bold;
}

.title a:hover,
.last-updated a:hover {
    text-decoration: underline;
}

.description > ul {
    list-style-type: disc;
    padding-left: 1em;
}

.last-updated {
    font-style: italic;
    font-weight: 300;
    font-size: 1em;
}

.last-updated a,
.last-updated a:visited {
    font-weight: 600;
    color: black;
    text-decoration: none;
}

/* sort button - not functional */
.sort-filter {
    align-self: end;
}

.sort-filter:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* hover effects */
.comments > a:hover {
    color: var(--mantis-green);
}


/* changing default link appearance */
.feed-content h2>a {
    color: var(--default-font-color);
    text-decoration: none;;
}

/* mobile formatting */
@media screen and (max-width: 900px) {
    .feed {
        margin: 0 2em 2em;
    }
}

@media screen and (max-width: 500px) {
    .feed {
        margin: 0 1em 1em;
        gap: 1em;
    }
    
    .feed-item {
        flex-direction: column;
        align-items:end;
        gap: 0.5em;
        padding: 1em;
    }

    .feed-content {
        gap: .25em;
    }

    .feed-content > h2 {
        font-size: 1.2em;
    }

    .comments {
        flex-direction: row;
        gap: .5em;
    }

    .comments > a {
        font-size: 1.1em;
    }
}