/* containers */
.pet-details-container {
    display: flex;
    flex-direction: row;
    margin: 0 12em 5em;
    gap: 1.5em;
    justify-content: center;
}

.sidebar {
    /* for navigation to other pet profile pages*/
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.details-container {
    /* holds pet information */
    display: flex;
    flex-direction: column;
    background: var(--pale-green);
    border-radius: 2em;
    padding: 2em;
    width: 55em;
    gap: 2em;
}

.details-container>.top-card {
    /* top row of pet info - summary, buttons, contact info*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.summary-details {
    /* contains summar info and pet picture*/
    display: flex;
    flex-direction: row;
    gap: 1em;
}

.summary-details>img.pet-photo {
    border-radius: .75em;
    height: 10em;
    width: 10em;
    border: .15em solid var(--pine-green);
    object-fit: cover;
}

.summary-details>.summary-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info {
    /* contains functional buttons and contact info*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.contact-info .row a {
    text-decoration: none;
    font-size: 1em;
 }

.contact-info .row,
.contact-info .contact-row {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.condition-details {
    /* health information */
    display: flex;
    flex-direction: column;
    gap: 1em;
    overflow: visible;
}

.condition-container:hover button.edit-condition {
    visibility: visible;
}

.condition-title-and-edit {
    display: flex;
    flex-direction: row;
    gap: .5em;
}

button.edit-condition {
    background: none;
    border: none;
    color: grey;
    margin: 0;
    padding: 0;
    font-size: 1em;
    visibility: hidden;
}

button.edit-condition:hover {
    cursor: pointer;
}

.last-updated {
    text-align: end;
    font-weight: 200;
    font-size: .8em;
    font-style: italic;
}

/* fix spacing under contact info subheadings */
.contact-info h3 {
    font-size: 1em;
}

/* hover effects */
.condition-details>div h3>i {
    padding: .2em;
}

.condition-details>div h3>i:hover {
    cursor: pointer;
    background: var(--mantis-green);
    border-radius: 2em;
}

/* vaccinations sections */
table.vaccine-table th,
table.vaccine-table td {
    padding: 0.1em .5em;
}

/* edit condition textarea */
textarea {
    font-family: var(--default-font-family);
    font-size: 1em;
    border: .15em solid var(--mantis-green);
    border-radius: 1em;
    padding: 0.25em .75em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    resize: none;
    height: fit-content;
}

textarea:focus {
    outline: .15em solid var(--brunswick-green);
}

/* mobile formatting */
@media screen and (max-width: 1400px) {
    .pet-details-container {
        margin: 0 1em;
    }
}

@media screen and (max-width: 1140px) {
    .pet-details-container {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: .5em;
        width: auto;
        margin: 1em;
    }

    .summary-details,
    .contact-info {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: .5em;
        margin: 0;
        width: auto;
    }

    .details-container {
        width: fit-content;
        gap: 1em;
    }

    .details-container>.top-card {
        flex-direction: column;
        gap: 1em;
    }

    .sidebar {
        flex-direction: row;
    }

    .vaccines {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .primary-button {
        padding: .5em 1em;
    }

    .contact-info .contact-row {
        flex-direction: column;
        gap: 0;
    }
}