{% extends "pets/base.html" %}
{% load pets_tags %}
{% load static %}
{% block page-title %}Profile for {{ user.username }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "users/css/profile.css" %}">
{% endblock %}
{% block script %}
        <script src="{% static "users/js/render-pets.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="profile-container">
        <div class="sidebar">
            <!-- nonfunctional buttons -->
            <button class="primary-button active" id="profile-tab">Profile</button>
            {% csrf_token %}
            <button class="primary-button" id="pets-tab" data-username="{{ user.username }}" data-ajax-url="{% url 'users:pets-list' user.username %}">Pets</button>
        </div>
        <div class="details-container" id="profile-details">
            <div class="pfp">
                {% if user.pfp %}
                    <img class="user-photo" src="{{ user.pfp.url }}" alt="Image of {{ user.username }}">
                {% else %}
                    <img class="user-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                         alt="Default user profile image">
                {% endif %}
            </div>
            <div class="summary-info">
                <h2>{{ user.first_name }} {{ user.last_name }}</h2>
                <p>
                    {% if user.details.city %}
                        <i>{{ user.details.city }}, {{ user.details.state }}</i>
                    {% else %}
                        <i>{{ user.details.state }}</i>
                    {% endif %}
                    {% if user.details.role == 'v' %}
                        <span> | Vet</span>
                    {% endif %}
                </p>
                <p><b>Username:</b> {{ user.username }} </p>
                <p><b>Email:</b> {{ user.email }}</p>
                <p><b>Phone:</b> {{ user.details.phone | pretty_phone_number }}</p>
                {% if user.details.role == 'v' %}
                    <p><b>Clinic Name:</b> {{ user.details.clinic_name }}</p>
                {% endif %}
            </div>
            <div class="row">
                {% if user.username == request.user.username or request.session.role == 'a' %}
                    <a class="secondary-button" href="{% url 'users:edit' user.username %}">Edit <i
                            class="fa-solid fa-pencil"></i></a>
                {% endif %}
                {% if user.username != request.user.username %}
                    <a class="secondary-button">Message <i
                            class="fa-solid fa-comment-medical"></i></a>
                    <a class="secondary-button">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                {% endif %}
                </a>
            </div>
        </div>
        <div id="user-pets"></div>
    </div>
{% endblock %}