{% load pets_tags %}
<div class="feed">
    {% for feedItem in actions %}
        <div class="feed-item">
            <div class="feed-content">
                <div class="title">
                    <span class="pet"><a href="{{ feedItem.pet.get_absolute_url }}">{{ feedItem.pet.name }}'s</a></span>
                    <span class="verb">{{ feedItem.verb | safe }}</span>
                </div>
                {% if feedItem.description is not None %}
                    <div class="description">
                        {{ feedItem.description | safe }}
                    </div>
                {% endif %}
                <p class="feed-last-updated">Update made by <a
                        href="{{ feedItem.user.details.get_absolute_url }}">{{ feedItem.user.first_name }}</a>
                    on {{ feedItem.created | pretty_date_time }}</p>
            </div>
        </div>
    {% endfor %}
</div>