{% extends "pets/base.html" %}
{% load static %}
{% block page-title %}Create{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "pets/css/create-pet.css" %}">
{% endblock %}
{% block script %}
    <script src="{% static "pets/js/form-validation.js" %}"></script>
    <script src="{% static "pets/js/add-remove-medical-history.js" %}"></script>
    <script src="{% static "pets/js/display-filename-oncreate.js" %}"></script>
    <script src="{% static 'pets/js/select-vet.js' %}"></script>
{% endblock %}
{% block content %}
    <h2 class="title">Create Pet Profile</h2>
    <div class="create-pet-container">
        <form id="create-pet-form" method="POST" action="{% url "pets:pet-create" %}" enctype="multipart/form-data">
            <div class="required-note"><span class="required">*</span> = Required</div>
            {% csrf_token %}
            <div class="basic-and-vet">
                <div class="form-section">
                    <h2>Basic Information</h2>
                    <div class="basic-form">
                        <!-- required -->
                        <label for="petName">Pet's Name<span class="required">*</span></label>
                        <div class="form-input">
                            <input type="text" id="petName" name="pet-name">
                            <span id="petName-error" class="error-message"></span>
                        </div>

                        <!-- required -->
                        <label for="petType">Pet Species<span class="required">*</span></label>
                        <div class="form-input">
                            <select id="petType" name="pet-type">
                                <option value="" disabled selected>Select</option>
                                <option value="dog">Dog</option>
                                <option value="cat">Cat</option>
                                <option value="fish">Fish</option>
                                <option value="small">Small Animal</option>
                                <option value="bird">Bird</option>
                                <option value="reptile">Reptile</option>
                            </select>
                            <span id="petType-error" class="error-message"></span>
                        </div>

                        <!-- required -->
                        <label for="breed">Breed<span class="required">*</span></label>
                        <div class="form-input">
                            <input type="text" id="breed" name="pet-breed">
                            <span id="breed-error" class="error-message"></span>
                        </div>

                        <!--required -->
                        <label for="sex">Sex<span class="required">*</span></label>
                        <div class="form-input">
                            <select id="sex" name="pet-sex">
                                <option value="" disabled selected>Select</option>
                                <option value="male">Male</option>
                                <option value="fenale">Female</option>
                            </select>
                            <span id="sex-error" class="error-message "></span>
                        </div>

                        <label for="pfp">Profile Picture</label>
                        <div>
                            <input type="file" id="pfp" name="pet-pfp" accept="image/*" class="hidden">
                            <label for="pfp">Upload Photo</label>
                            <span id="pfp-filename" class="current-file">No file selected</span>
                            <span id="pfp-error" class="error-message"></span>
                        </div>

                        <!-- required -->
                        <label for="dob">Date of Birth<span class="required">*</span></label>
                        <div class="form-input">
                            <input type="date" id="dob" name="pet-dob">
                            <span id="dob-error" class="error-message"></span>
                        </div>

                        <!-- required -->
                        <label for="wgt">Weight (lbs)<span class="required">*</span></label>
                        <div class="form-input">
                            <input type="text" id="wgt" name="pet-wgt">
                            <span id="wgt-error" class="error-message"></span>
                        </div>

                        <!-- required -->
                        <label for="spay">Spayed/Neutered?<span class="required">*</span></label>
                        <div class="form-input">
                            <select id="spay" name="pet-spay-status">
                                <option value="" disabled selected>Select</option>
                                <option value="true">Yes</option>
                                <option value="false">No</option>
                            </select>
                            <span id="spay-error" class="error-message "></span>
                        </div>
                    </div>
                </div>
                <div class="form-section">
                    <h2>Vet Information</h2>
                    <div class="form-input">
                            <select id="vet-select" name="vet_select">
                                <option value="" selected>Create New Vet</option>
                                {% for vet in vets %}
                                <option value="{{ vet.id }}">{{ vet.first_name }} {{ vet.last_name }} -
                                    <i>{{ vet.clinic_name }}</i></option>
                                {% endfor %}
                            </select>
                        </div>
                    <div class="vet-form" id="new-vet-fields">
                            <!-- required -->
                            <label for="vetfname">First Name<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetfname" name="vet_fname">
                                <span id="vetfname-error" class="error-message"></span>
                            </div>
                            <!-- required -->
                            <label for="vetlname">Last Name<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetlname" name="vet_lname">
                                <span id="vetlname-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetPhone">Phone Number<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="tel" id="vetPhone" name="vet_phone">
                                <span id="vetPhone-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetEmail">Email Address<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="email" id="vetEmail" name="vet_email">
                                <span id="vetEmail-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetClinic">Clinic Name<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetClinic" name="vet_clinic">
                                <span id="vetClinic-error" class="error-message"></span>
                            </div>

                            <label for="vetAddress">Address<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetAddress" name="vet_address">
                                <span id="vetAddress-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetCity">City<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetCity" name="vet_city">
                                <span id="vetCity-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetState">State<span class="required">*</span></label>
                            <div class="form-input">
                                <select id="vetState" name="vet_state">
                                    <option value="" disabled selected>Select</option>
                                    <option value="AL">Alabama</option>
                                    <option value="AK">Alaska</option>
                                    <option value="AZ">Arizona</option>
                                    <option value="AR">Arkansas</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="CA">California</option>
                                    <option value="CO">Colorado</option>
                                    <option value="CT">Connecticut</option>
                                    <option value="DE">Delaware</option>
                                    <option value="DC">District of Columbia</option>
                                    <option value="FL">Florida</option>
                                    <option value="GA">Georgia</option>
                                    <option value="GU">Guam</option>
                                    <option value="HI">Hawaii</option>
                                    <option value="ID">Idaho</option>
                                    <option value="IL">Illinois</option>
                                    <option value="IN">Indiana</option>
                                    <option value="IA">Iowa</option>
                                    <option value="KS">Kansas</option>
                                    <option value="KY">Kentucky</option>
                                    <option value="LA">Louisiana</option>
                                    <option value="ME">Maine</option>
                                    <option value="MD">Maryland</option>
                                    <option value="MA">Massachusetts</option>
                                    <option value="MI">Michigan</option>
                                    <option value="MN">Minnesota</option>
                                    <option value="MS">Mississippi</option>
                                    <option value="MO">Missouri</option>
                                    <option value="MT">Montana</option>
                                    <option value="NE">Nebraska</option>
                                    <option value="NV">Nevada</option>
                                    <option value="NH">New Hampshire</option>
                                    <option value="NJ">New Jersey</option>
                                    <option value="NM">New Mexico</option>
                                    <option value="NY">New York</option>
                                    <option value="NC">North Carolina</option>
                                    <option value="ND">North Dakota</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="OH">Ohio</option>
                                    <option value="OK">Oklahoma</option>
                                    <option value="OR">Oregon</option>
                                    <option value="PA">Pennsylvania</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="RI">Rhode Island</option>
                                    <option value="SC">South Carolina</option>
                                    <option value="SD">South Dakota</option>
                                    <option value="TN">Tennessee</option>
                                    <option value="TX">Texas</option>
                                    <option value="TT">Trust Territories</option>
                                    <option value="UT">Utah</option>
                                    <option value="VT">Vermont</option>
                                    <option value="VA">Virginia</option>
                                    <option value="VI">Virgin Islands</option>
                                    <option value="WA">Washington</option>
                                    <option value="WV">West Virginia</option>
                                    <option value="WI">Wisconsin</option>
                                    <option value="WY">Wyoming</option>
                                </select>
                                <span id="vetState-error" class="error-message"></span>
                            </div>

                            <!-- required -->
                            <label for="vetZip">Zip / Postal Code<span class="required">*</span></label>
                            <div class="form-input">
                                <input type="text" id="vetZip" name="vet_zip">
                                <span id="vetZip-error" class="error-message"></span>
                            </div>
                    </div>
                </div>
            </div>
            <div class="form-section">
                <h2>Medical History</h2>
                <div class="conditions">
                   <div id="condition-template" class="form-textarea">
                        <div class="condition-title-and-delete">
                            <div>
                                <input type="text" class="condition-title" placeholder="Title"/>
                                <span id="condition-title-error" class="error-message"></span>
                            </div>
                            <button type="button" id="delete-condition" class="delete-med-hist"><i
                                    class="fa-solid fa-trash-can"></i>
                            </button>
                        </div>
                        <textarea class="condition-description" placeholder="Description"></textarea>
                        <span id="condition-description-error" class="error-message"></span>
                   </div>
                </div>
                <button type="button" id="add-condition" class="secondary-button">+ Add Section</button>

                <h3>Vaccines</h3>
                <div class="vaccines">

                    <h3 class="vacc-header">Name</h3>
                    <h3 class="vacc-header">Last done</h3>
                    <h3 class="vacc-header">Next due</h3>
                    <h3 class="vacc-header">Delete</h3>
                    <div id="vaccine-template">
                        <label for="vac-name" class="individual-vac-label name-label">Vaccine</label>
                        <div class="form-input name-input">
                            <input type="text" id="vac-name" name="vac-name">
                            <span id="vac-name-error" class="error-message"></span>
                        </div>

                        <label for="last-done" class="individual-vac-label last-label">Last done</label>
                        <div class="form-input last-input">
                            <input type="date" id="last-done" name="last-done">
                            <span id="last-done-error" class="error-message"></span>
                        </div>

                        <label for="next-due-1" class="individual-vac-label next-label">Next due</label>
                        <div class="form-input next-input">
                            <input type="date" id="next-due" name="next-due">
                            <span id="next-due-error" class="error-message"></span>
                        </div>

                        <label for="vac-delete" class="individual-vac-label vac-delete">Delete</label>
                        <button id="vac-delete" class="delete-med-hist"><i class="fa-solid fa-trash-can"></i></button>
                    </div>

                </div>
                <button type="button" id="add-vaccine" class="secondary-button">+ Add Vaccine</button>
            </div>
            <div class="form-section">
                <h2>Upload Files</h2>
                <input type="file" id="pet-files" name="pet-files" accept=".pdf" class="hidden" multiple>
                <label for="pet-files">Upload Files</label>
            </div>
            <button type="submit" class="primary-button submit-button">Create Pet</button>
            <div id="form-submitted" class="display-none">Pet Created!</div>
        </form>
    </div>
{% endblock %}