{% extends "pets/base.html" %}
{% load pets_tags %}
{% load static %}
{% block page-title %}{{ pet.name }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/pet-details.css" %}">
{% endblock %}
{% block script %}
    <script src="{% static "js/edit-condition.js" %}"></script>
    <script src="{% static "js/toggle-share-popup.js" %}"></script>
    <script src="{% static "js/edit-comment.js" %}"></script>
{% endblock %}
{% block content %}
    <div class="pet-details-container">
        <div class="sidebar">
            <!-- nonfunctional buttons -->
            <button class="primary-button active">Pet Profile</button>
            <button class="primary-button">Updates</button>
            <button class="primary-button">Files</button>
            <button class="primary-button">Vet Notes</button>
        </div>
        <div class="main-container">
            <div class="details-container">
                <div class="top-card">
                    <div class="summary-details">
                        {% if pet.pfp %}
                            <img class="pet-photo" src="{{ pet.pfp.url }}" alt="Image of {{ pet.name }}">
                        {% else %}
                            <img class="pet-photo" src="{% static 'img/default-pfp.jpg' %}"
                                 alt="Default pet profile image">
                        {% endif %}
                        <div class="summary-info">
                            <h2>{{ pet.name }}</h2>
                            <p>
                                <b>Type/Breed:</b>
                                {% if pet.type == "d" %}
                                    <i class="fa-solid fa-dog"></i>
                                {% elif pet.type == "c" %}
                                    <i class="fa-solid fa-cat"></i>
                                {% elif pet.type == "f" %}
                                    <i class="fa-solid fa-fish"></i>
                                {% elif pet.type == "s" %}
                                    <span class="icon-wrapper">
                                    <object type="image/svg+xml" data="{% static 'img/small.svg' %}"
                                            class="icon-svg"></object>
                                </span>
                                {% elif pet.type == "r" %}
                                    <i class="fa-solid fa-worm"></i>
                                {% elif pet.type == "b" %}
                                    <i class="fa-solid fa-crow"></i>
                                {% endif %}
                                {{ pet.breed }} </p>
                            <p><b>Sex:</b> {{ pet.get_sex_display }}</p>
                            <p><b>Age:</b> {{ pet.dob|get_age_from_dob }} ({{ pet.dob|pretty_date }})</p>
                            <p><b>Weight:</b> {{ pet.weight }} lbs</p>
                            <p>
                                <b>Spayed/Neutered:</b>
                                {% if pet.spayed %}
                                    Yes
                                {% else %}
                                    No
                                {% endif %}
                            </p>
                        </div>
                    </div>
                    <div class="contact-info">
                        <div class="row">
                            <a class="secondary-button" href="{% url 'pets:pet-edit' pet.id %}">Edit <i
                                    class="fa-solid fa-pencil"></i></a>
                            <a class="secondary-button">Request <i
                                    class="fa-solid fa-comment-medical"></i></a>
                            <button class="secondary-button" id="share-button">Share <i class="fa-solid fa-share"></i>
                            </button>
                            <div id="share-dropdown-container">
                                <form id="share-form" method="POST" action="{% url 'pets:pet-share' pet.id %}">
                                    {% csrf_token %}
                                    <label for="user">Select User</label>
                                    <select name="user_id" required>
                                        {% for user in users %}
                                            <option value="{{ user.id }}">{{ user.first_name }} {{ user.last_name }}
                                                ({{ user.username }})
                                            </option>
                                        {% endfor %}
                                    </select>
                                    <button type="submit" class="primary-button">Share</button>
                                </form>
                            </div>
                        </div>
                        <div class="user-info">
                            <p><b>Owner</b> - <a
                                    href="{% url 'users:profile' pet.owner.username %}">{{ pet.owner.first_name }} {{ pet.owner.last_name }}</a>
                            </p>
                            <div class="contact-row">
                                <p><i class="fa-solid fa-phone"></i> {{ pet.owner.details.phone |pretty_phone_number }}
                                </p>
                                <p><i class="fa-solid fa-envelope"></i> {{ pet.owner.email }}</p>
                            </div>
                        </div>
                        <div class="user-info">
                            <p><b>Primary Vet</b> -
                                {% if pet.vet.user %}
                                    <a href="{% url 'users:profile' pet.vet.user.username %}">{{ pet.vet.first_name }} {{ pet.vet.last_name }}</a>
                                {% else %}
                                    {{ pet.vet.first_name }} {{ pet.vet.last_name }}
                                {% endif %}
                            </p>

                            <div class="contact-row">
                                <p><i class="fa-solid fa-phone"></i> {{ pet.vet.phone|pretty_phone_number }}</p>
                                <p><i class="fa-solid fa-envelope"></i> {{ pet.vet.email }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="condition-details">
                    {% for condition in conditions %}
                        <div class="condition-container" data-container-id="{{ condition.id }}">
                            <div class="condition-title-and-edit">
                                <h3>{{ condition.title }}</h3>
                                <button
                                        class="edit-condition"
                                        data-condition-id="{{ condition.id }}"
                                        data-ajax-url="{% url "pets:pet-edit_condition" %}">
                                    <i class="fa-solid fa-pen-to-square 2x"></i>
                                </button>
                            </div>
                            <p>{{ condition.description }}</p>
                        </div>
                    {% endfor %}
                </div>
                {% if vaccines|length != 0 %}
                    <div class="vaccines">
                        <h3>Vaccinations <i class="fa-solid fa-chevron-down"></i></h3>
                        <table class="vaccine-table">
                            <tr>
                                <th>Vaccine</th>
                                <th>Last done</th>
                                <th>Next due</th>
                            </tr>
                            {% for vac in vaccines %}
                                <tr>
                                    <td>{{ vac.name }}</td>
                                    <td>{{ vac.last_done | pretty_date }}</td>
                                    <td>{{ vac.next_due | pretty_date }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                {% endif %}
                <div class="last-updated">
                    <p>Last updated: {{ pet.last_updated|pretty_date_time }}</p>
                </div>
            </div>
            <div class="comments-container">
                <h3>Comments</h3>
                <form id="add-comment" method="POST" action="{% url 'pets:comment-create' pet.id %}">
                    {% csrf_token %}
                    <label for="comment">Add a comment
                        <textarea class="comment-box" name="comment" required></textarea>
                    </label>
                    <button type="submit" class="secondary-button">Submit</button>
                </form>
                {% for comment in comments %}
                    <div class="comment" data-container-id="{{ comment.id }}">
                        <div class="comment-content-and-details">
                            <div class="comment-content">
                                {{ comment.content }}
                            </div>
                            <div class="comment-details">
                                <span class="commenter">
                                <a href="{{ comment.user.get_absolute_url }}">{{ comment.user.username }}</a></span>
                                <span class="date">| {{ comment.posted | get_elapsed_time }}</span>
                                {% if comment.edited != None %}
                                    <span>| </span>
                                    <span class="edited"><i>Edited {{ comment.edited | get_elapsed_time }}</i></span>
                                {% endif %}
                            </div>
                        </div>
                        {% if request.user.id == comment.user.id %}
                            <div class="edit-delete-buttons">
                                <button class="edit-comment" data-comment-id="{{ comment.id }}" data-ajax-url="{% url 'pets:comment-edit' %}">
                                    <i class="fa-solid fa-pen-to-square fa-lg"></i>
                                </button>
                                <form method="POST" action="{% url 'pets:comment-delete' pet.id comment.id %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" title="Delete"
                                            style="border:none; background:none; padding:0;">
                                        <i class="fa-solid fa-trash-can fa-lg"></i>
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                {% empty %}
                    <div>No comments yet.</div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}