{% extends "pets/base.html" %}
{% load pets_tags %}
{% load static %}
{% block page-title %}{{ pet.name }}{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "css/pet-details.css" %}">
{% endblock %}
{% block content %}
    <div class="pet-details-container">
        <div class="sidebar">
            <!-- nonfunctional buttons -->
            <button class="primary-button active">Pet Profile</button>
            <button class="primary-button">Updates</button>
            <button class="primary-button">Files</button>
            <button class="primary-button">Vet Notes</button>
        </div>
        <div class="details-container">
            <div class="top-card">
                <div class="summary-details">
                    <img class="pet-photo" src="{% static "img/" %}{{ pet.name|get_img_file_name }}.jpg" alt="Image of Willow">
                    <div class="summary-info">
                        <h2>{{ pet.name }}</h2>
                        <p><b>Type/Breed:</b>
                            {% if pet.type == "Dog" %}
                                <i class="fa-solid fa-dog"></i>
                            {% elif pet.type == "Cat" %}
                                <i class="fa-solid fa-cat"></i>
                            {% elif pet.type == "Bird" %}
                                <i class="fa-solid fa-crow"></i>
                            {% endif %} {{ pet.breed }}</p>
                        <p><b>Sex:</b> {{ pet.sex }}</p>
                        <p><b>Age:</b> {{ pet.dob|get_age_from_dob }} ({{ pet.dob|pretty_date }})</p>
                        <p><b>Weight:</b> {{ pet.weight }} lbs</p>
                        <p>
                            <b>Spayed/Neutered:</b>
                            {% if pet.spayed %}
                                Yes
                            {% else %}
                                No
                            {% endif %}
                        </p>
                    </div>
                </div>
                <div class="contact-info">
                    <div class="row">
                        <a class="secondary-button" href="{% url 'pets:pet-edit' pet.id %}">Edit <i class="fa-solid fa-pencil"></i></a>
                        <a class="secondary-button">Request <i
                                class="fa-solid fa-comment-medical"></i></a>
                        <a class="secondary-button">Share <i class="fa-solid fa-share"></i></a>
                    </div>
                    <div>
                        <h3>Owner</h3>
                        <div class="contact-row">
                            <p><i class="fa-solid fa-phone"></i> {{ pet.owner.phone }}</p>
                            <p><i class="fa-solid fa-envelope"></i> {{ pet.owner.email }}</p>
                        </div>
                    </div>
                    <div>
                        <h3>Primary Vet</h3>
                        <div class="contact-row">
                            <p><i class="fa-solid fa-phone"></i> {{ pet.vet.phone }}</p>
                            <p><i class="fa-solid fa-envelope"></i> {{ pet.vet.email }}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="condition-details">
                {% for condition in pet.conditions %}
                    <div class={{ condition.title }}>
                        <h3>{{ condition.title }} <i class="fa-solid fa-chevron-down"></i></h3>
                        <p>{{ condition.description }}</p>
                    </div>
                {% endfor %}
            </div>
            <div class="vaccines">
                <h3>Vaccinations <i class="fa-solid fa-chevron-down"></i></h3>
                <table class="vaccine-table">
                    <tr>
                        <th>Vaccine</th>
                        <th>Last done</th>
                        <th>Next due</th>
                    </tr>
                    {% for vac in pet.vaccines %}
                        <tr>
                        <td>{{ vac.name }}</td>
                        <td>{{ vac.lastDone|pretty_date}}</td>
                        <td>{{ vac.nextDue|pretty_date }}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="last-updated">
                <p>Last updated: {{ pet.lastUpdated|pretty_date }}</p>
            </div>
        </div>
    </div>
    </div>
{% endblock %}