{% extends "pets/base.html" %}
{% load static %}
{% load pets_tags %}
{% block page-title %}Pets{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" href="{% static "pets/css/pets-list.css" %}">
{% endblock %}
{% block search %}
    <form id="search-pet-list" method="GET" action="{% url "pets:pet-search" %}">
        <input id="query" type="text" name="query" placeholder="Search for a pet...">
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
{% endblock %}
{% block content %}
    <div class="pet-list-container">
        <div class="pets-list-filter">
            {% if request.session.role == 'o' %}
                <a class="primary-button" href="{% url "pets:pet-create" %}"><i class="fa-solid fa-plus"></i> New
                    Pet</a>
            {% else %}
                <div></div>
            {% endif %}
            <form method="GET" id="sort-form" class="filter-dropdown">
                <span>Sort By: </span>
                <select name="sort" id="sort" onchange="document.getElementById('sort-form').submit()">
                    <option value="updated" {% if sort == "updated" %}selected{% endif %}>Last Updated</option>
                    <option value="name" {% if sort == "name" %}selected{% endif %}>Alphabetical (A-Z)</option>
                    <option value="dob-ascending" {% if sort == "dob-ascending" %}selected{% endif %}>Age
                        (Ascending)
                    </option>
                    <option value="dob-descending" {% if sort == "dob-descending" %}selected{% endif %}>Age
                        (Descending)
                    </option>
                </select>
            </form>
        </div>
        {% if pets|length == 0 and clients|length == 0 %}
            <div class="empty-pet-list">
                <p>Sorry! There are no pets to display at the moment.</p>
                {#                https://unsplash.com/photos/a-close-up-of-a-cat-with-green-eyes-FntgSXIlSwM#}
                <img class="empty-list-img" src="{% static "pets/img/empty-list.jpg" %}" alt="Image of a cat looking sad">
            </div>
        {% else %}
            {% if request.session.role == 'v' or request.session.role == 'a' %}
                <div class="pets-section">
                    {% if request.session.role == 'v' %}
                        <h2>Clients' Pets</h2>
                    {% else %}
                        <h2>Users' Pets</h2>
                    {% endif %}
                    <div class="pets-list">
                        {% for pet in clients %}
                            <a href="{% url "pets:pet-details" pet.id %}" class="pet-card">
                                {% if pet.pfp %}
                                    <img class="pet-card-photo" src="{% static "pets/img/" %}{{ pet.name|img_name }}.jpg" alt="Image of {{ pet.name }}">
                                {% else %}
                                    <img class="pet-card-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                                         alt="Default pet profile image">
                                {% endif %}
                                <div class="pet-card-info">
                                    <div>
                                        <h2>{{ pet.name }}</h2>
                                        <p>
                                            {% if pet.type == "d" %}
                                                <i class="fa-solid fa-dog"></i>
                                            {% elif pet.type == "c" %}
                                                <i class="fa-solid fa-cat"></i>
                                            {% elif pet.type == "f" %}
                                                <i class="fa-solid fa-fish"></i>
                                            {% elif pet.type == "s" %}
                                                <span class="icon-wrapper">
                                                        <img src="{% static 'pets/img/small.svg' %}" class="icon-svg">
                                                    </span>
                                            {% elif pet.type == "r" %}
                                                <i class="fa-solid fa-worm"></i>
                                            {% elif pet.type == "b" %}
                                                <i class="fa-solid fa-crow"></i>
                                            {% endif %}
                                            {{ pet.breed }}</p>
                                        <p>{{ pet.get_sex_display }}, {{ pet.dob|get_age_from_dob }}</p>
                                    </div>
                                    <i>Last updated {{ pet.last_updated | pretty_date }}</i>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <div class="pets-section">
                {% if pets|length > 0 %}
                    <h2>Your Pets</h2>
                    <div class="pets-list">
                        {% for pet in pets %}
                            <a href="{% url "pets:pet-details" pet.id %}" class="pet-card">
                                {% if pet.pfp %}
                                    <img class="pet-card-photo" src="{% static 'pets/img/' %}{{ pet.name|img_name }}.jpg" alt="Image of {{ pet.name }}">
                                {% else %}
                                    <img class="pet-card-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                                         alt="Default pet profile image">
                                {% endif %}
                                <div class="pet-card-info">

                                    <div>
                                        <h2>{{ pet.name }}</h2>
                                        <p>
                                            {% if pet.type == "d" %}
                                                <i class="fa-solid fa-dog"></i>
                                            {% elif pet.type == "c" %}
                                                <i class="fa-solid fa-cat"></i>
                                            {% elif pet.type == "f" %}
                                                <i class="fa-solid fa-fish"></i>
                                            {% elif pet.type == "s" %}
                                                <span class="icon-wrapper">
                                                        <object type="image/svg+xml" data="{% static 'pets/img/small.svg' %}"
                                                                class="icon-svg"></object>
                                                    </span>
                                            {% elif pet.type == "r" %}
                                                <i class="fa-solid fa-worm"></i>
                                            {% elif pet.type == "b" %}
                                                <i class="fa-solid fa-crow"></i>
                                            {% endif %}
                                            {{ pet.breed }}</p>
                                        <p>{{ pet.get_sex_display }}, {{ pet.dob|get_age_from_dob }}</p>
                                    </div>
                                    <i>Last updated {{ pet.last_updated|pretty_date }}</i>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
                <div class="pets-section">
                {% if clients|length > 0 %}
                    <h2>Clients' Pets</h2>
                    <div class="pets-list">
                        {% for pet in clients %}
                            <a href="{% url "pets:pet-details" pet.id %}" class="pet-card">
                                {% if pet.pfp %}
                                    <img class="pet-card-photo" src="{% static "pets/img/" %}{{ pet.name|img_name }}.jpg" alt="Image of {{ pet.name }}">
                                {% else %}
                                    <img class="pet-card-photo" src="{% static 'pets/img/default-pfp.jpg' %}"
                                         alt="Default pet profile image">
                                {% endif %}
                                <div class="pet-card-info">
                                    <div>
                                        <h2>{{ pet.name }}</h2>
                                        <p>
                                            {% if pet.type == "d" %}
                                                <i class="fa-solid fa-dog"></i>
                                            {% elif pet.type == "c" %}
                                                <i class="fa-solid fa-cat"></i>
                                            {% elif pet.type == "f" %}
                                                <i class="fa-solid fa-fish"></i>
                                            {% elif pet.type == "s" %}
                                                <span class="icon-wrapper">
                                                        <object type="image/svg+xml" data="{% static 'pets/img/small.svg' %}"
                                                                class="icon-svg"></object>
                                                    </span>
                                            {% elif pet.type == "r" %}
                                                <i class="fa-solid fa-worm"></i>
                                            {% elif pet.type == "b" %}
                                                <i class="fa-solid fa-crow"></i>
                                            {% endif %}
                                            {{ pet.breed }}</p>
                                        <p>{{ pet.get_sex_display }}, {{ pet.dob|get_age_from_dob }}</p>
                                    </div>
                                    <i>Last updated {{ pet.last_updated |pretty_date }}</i>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}